.scope__content {
    max-width: 91.5rem;
    margin: 0 auto;
}

.sort {
    text-align: center;
}

.sort b {
    padding-left: .5rem;
}

.wheel-types {
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 76.875rem;
    margin: 0 auto;
}


.scope__card {
    display: flex;
    position: relative;
    min-height: 21.875rem;
    z-index: 2;
    transition: transform ease .24s;
}

.scope__card:hover,
.scope__card:active {
    transform: translateY(-3%);
}

.card__title.h5.link {
    padding: 2.875rem 3rem;
    position: relative;
    bottom: 0;
    left: 0;
    color: var(--color__white);
    font-weight: 700;
}

.card__img {
    width: 100%;
    height: 100%;
    max-width: 30.5rem;
}

.scope__content.grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.scope__sort .--svg__sort-icon{
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.75rem;
}

.scope__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #000000 100%);
    left: 0;
    top: 0;
    opacity: .6;
}

.scope__bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.scope .order-select {
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .wheel-types {
        display: none;
    }

    .sort {
        display: none;
    }

    .scope__content.grid {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin-top: 0 !important;
    }

    .card__img {
        max-width: none;
    }

    .scope .card__img {
        display: block;
        max-width: 100%;
        height: 10.375rem;
        object-fit: cover;
    }

    .scope__card {
        min-height: auto;
    }

    .scope__bg {
        position: relative;
        width: 100%;
        height: auto;
    }

    .scope__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--color__black-rgb), 0.5);
    }

    .card__title.h5.link {
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;
        padding: 0;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}
