.product-detail .product-item__swiper-wrap.--full .swiper-pagination {
    display: none;
}

.product-detail__favor-btn,
.product-detail__compare-btn {
    display: none;
}

.product-item__share-icon {
    display: none;
}

.product-detail .parameters-sub-items__button {
    display: none;
}

.product-detail .product-item__manage-wrap {
    margin-top: -1rem;
}

.product-detail .product-item__manage-wrap > * {
    margin-top: 1rem;
}

.product-detail .product-item__manage-sub-wrap {
    gap: normal;
}

.product-detail .product-item__manage-sub-wrap.--left {
    margin-right: 1rem;
}

.product-detail .product-item__manage-sub-wrap.--right {
    flex: 1 0 auto;
}

.product-detail .product-item__buy-btn {
    margin-right: auto;
}

.product-detail .product-item__compare-btn {
    margin-left: 1rem;
}

@media screen and (max-width: 1700px) {
    .product-detail .product-item__manage-sub-wrap.--left {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 1680px) {
    .product-detail .product-item__manage-sub-wrap.--left {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1450px) {
    .product-detail .product-item__manage-sub-wrap.--right {
        width: 100%;
    }

    .product-detail .product-item__buy-btn {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 991px) {
    .product-detail .product-item__manage-sub-wrap {
        width: 100%;
    }

    .product-detail .product-detail__head {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 1rem 0 !important;
        background-color: transparent;
    }

    .product-detail .product-item.grid {
        display: block;
    }

    .product-detail .product-item.--temp-col-2 {
        grid-template-columns: 1fr;
    }

    .product-detail .product-item__swiper-wrap.--thumb {
        display: none;
    }

    .product-detail .product-item__3d-btn {
        display: none;
    }

    .product-detail .product-item__desc-wrap {
        margin-top: 1.125rem;
        padding: 0 !important;
    }

    .product-detail .product-item__swiper-wrap.--full {
        width: 100%;
        padding: 1.625rem 4rem 1.25rem;
        background-color: var(--color__fill-4);
    }

    .product-detail .product-item__swiper-wrap.--full .type-carusel__btn.--left {
        display: block;
        left: 1rem !important;
    }

    .product-detail .product-item__swiper-wrap.--full:hover .type-carusel__btn.--left {
        left: 1rem !important;
    }

    .product-detail .product-item__swiper-wrap.--full .type-carusel__btn.--right {
        display: block;
        right: 1rem !important;
    }

    .product-detail .product-item__swiper-wrap.--full:hover .type-carusel__btn.--right {
        right: 1rem !important;
    }

    .product-detail .product-item__head {
        /*min-height: auto;*/
        /*min-width: auto;*/
        max-width: none;
    }

    .product-detail .product-item__share-link {
        display: inline-flex;
        align-items: center;
        top: 0;
        right: 0;
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .product-detail .product-item__share-icon {
        display: block;
        margin-left: 1rem;
        width: 1.875rem;
        height: 2.125rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .product-detail .product-item .product-item__availability {
        position: absolute;
        top: 0.5rem;
        left: 0;
        margin-top: 0 !important;
        font-size: 0.875rem;
        line-height: 1;
    }

    .product-detail .product-item__name {
        margin-top: 3rem !important;
        font-size: 1.25rem;
        line-height: 1.875rem;
    }

    .product-detail .product-item__details-wrap {
        margin-top: 1rem !important;
        justify-content: normal;
        gap: 0;
    }

    .product-detail .product-item__articul {
        order: 2;
    }

    .product-detail .product-item__details-wrap .product-item__articul,
    .product-detail .product-item__details-wrap .product-item__country {
        width: 50%;
        font-size: 0.875rem;
        line-height: 1.75rem;
    }

    .product-detail .product-item__details-wrap .product-item__country {
        font-weight: 700;
    }

    .product-detail .product-item__details-wrap .product-item__articul {
        padding-left: 1rem;
        opacity: 0.6;
        border-left: 1px solid var(--color__gray-5);
    }

    .product-detail .product-item__bottom {
        margin-top: 2rem !important;
    }

    .product-detail .product-item__bottom-wrap {
        padding-bottom: 0 !important;
        border: 0;
    }

    .product-detail .product-item .product-item__price {
        font-size: 2rem;
    }

    .product-detail .product-item .product-item__old-price {
        font-size: 1.125rem;
    }

    .product-detail .product-item__present-link {
        display: none;
    }

    .product-detail .product-item__counter-wrap {
        width: 100%;
    }

    .product-detail .product-item__counter {
        width: 48%;
    }

    .product-detail .product-item__counter {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .product-detail .counter-calc__wrap {
        justify-content: center;
    }

    .product-detail .product-item__cart-add-btn {
        width: 52%;
    }

    .product-detail .product-item__buy-btn {
        width: 100%;
    }

    .product-detail .product-detail__desc-wrap {
        margin-top: 2rem !important;
    }

    .product-detail .tabs__blocks {
        margin-top: 1.875rem !important;
    }

    .product-detail .tabs__btns {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .product-detail .tabs__btn {
        padding-bottom: 1.25rem !important;
        white-space: nowrap;
    }

    .product-detail .tabs__btn + .tabs__btn {
        margin-left: 2.5rem;
    }

    .product-detail .parameters-items {
        display: grid;
        grid-row-gap: 2rem;
    }

    .product-detail .parameters-items.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-detail .parameter-item.--title {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .product-detail .parameter-item.--title .parameter-item__desc-wrap {
        margin-top: 1rem !important;
    }

    .product-detail .parameter-item.--title .parameter-item__icon {
        width: auto;
        height: auto;
    }


    .product-detail .parameters-sub-items {
        margin-top: 2rem !important;
        grid-template-columns: 1fr;
    }

    .product-detail .parameter-sub-item {
        position: relative;
    }

    .product-detail .parameter-sub-item:nth-child(n + 6) {
        display: none;
    }

    .product-detail .parameters-sub-items.--open .parameter-sub-item:nth-child(n + 6) {
        display: flex;
    }

    .product-detail .parameter-sub-item::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0.7rem;
        height: 0.0625rem;
        width: 100%;
        border-bottom: 0.0625rem dashed var(--color__gray-5);
    }

    .product-detail .parameter-sub-item__label {
        position: relative;
        padding-right: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.5rem;
        background-color: var(--color__white);
    }

    .product-detail .parameter-sub-item__value {
        position: relative;
        padding-left: 0.25rem;
        font-size: 0.75rem;
        line-height: 1.5rem;
        background-color: var(--color__white);
    }

    .product-detail .parameters-sub-items__button {
        display: flex;
        padding: 0;
        border: 0;
        border-radius: 3rem;
        background-color: transparent;
    }

    /*.product-detail .parameters-sub-items__button:active,
    .product-detail .parameters-sub-items__button:focus {
        color: var(--color__dark);
        background-color: var(--color__white);
        box-shadow: inset 0 0 0 0.125rem var(--color__dark);
    }*/
    .product-detail .parameters-sub-items.--open .parameters-sub-items__button svg {
        transform: rotate(180deg);
    }

    .product-detail .parameters-sub-items__button span {
        margin-left: 1rem;
    }

    .product-detail .product-item__covers-slider {
        height: auto;
    }

    .product-detail .js__product-full {
        width: 100%;
        height: auto;
    }

    .product-detail .product-item__cover-thumb.--full {
        width: auto;
        padding-bottom: 0;
    }

    .product-detail .product-item__cover-thumb.--full .product-item__cover {
        position: static;
        width: auto;
        height: auto;
    }

    .product-detail .product-item__cover {
        padding: 0;
    }

    .product-detail .product-item__swiper-wrap.--full .swiper-pagination {
        display: block;
        margin-top: 0.75rem;
        line-height: 1;
        font-size: 0;
    }

    .product-detail .product-item__swiper-wrap.--full .swiper-pagination-bullet {
        height: 0.3125rem;
        width: 0.3125rem;
        background-color: var(--color__dark);
        border-radius: 50%;
        opacity: 0.1;
    }

    .product-detail .product-item__swiper-wrap.--full .swiper-pagination-bullet + .swiper-pagination-bullet {
        margin-left: 0.3125rem;
    }

    .product-detail .product-item__swiper-wrap.--full .swiper-pagination-bullet-active {
        width: 1.25rem;
        border-radius: 1.5rem;
        opacity: 1;
    }

    .product-detail .product-item__favor-btn,
    .product-detail .product-item__compare-btn {
        display: none;
    }

    .product-detail__favor-btn,
    .product-detail__compare-btn {
        position: absolute;
        top: 1.5rem;
        display: block;
        padding: 0;
        border: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .product-detail__compare-btn {
        width: 2.0625rem;
        height: 2rem;
        left: 1.5rem;
    }

    .product-detail__favor-btn {
        width: 2.25rem;
        height: 1.9375rem;
        right: 1.5rem;
    }

    .product-detail__favor-btn:hover,
    .product-detail__favor-btn:focus,
    .product-detail__favor-btn:active,
    .product-detail__compare-btn:hover,
    .product-detail__compare-btn:focus,
    .product-detail__compare-btn:active {
        opacity: 0.5;
    }

    .product-cart-mobile {
        margin-top: 4.5rem !important;
    }

    .product-cart-mobile-bottom {
        padding-bottom: 2.25rem !important;
    }
}
