.cart h1 {
    font-weight: 700;
}

.cart__order-number {
    font-weight: 600;
}

.cart__order-date {
    font-weight: 600;
    opacity: 0.4;
}

.cart-grid {
    align-items: normal;
}

.cart-actions {
}

.cart-actions__item {
}

.cart-actions__item + .cart-actions__item {
    margin-left: 2rem;
}

.cart-actions__link {
    display: inline-flex;
    align-items: center;
    color: inherit;
    font-weight: 700;
    opacity: 0.4;
}

.cart-actions__link:hover,
.cart-actions__link:focus,
.cart-actions__link:active {
    opacity: 1;
}

.cart-actions__icon {
    display: inline-block;
    margin-right: 0.75rem;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-actions__icon.--link {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
}

.cart-actions__icon.--trash {
    width: 1.25rem;
    height: 1.5rem;
    background-size: 1.25rem 1.5rem;
}

.cart-actions__icon.--print {
    width: 1.562rem;
    height: 1.5rem;
    background-size: 1.562rem 1.5rem;
}

.cart-product {
    margin-top: 2.5rem;
    border-bottom: 0.0625rem solid #D8D8D8;
}

.card-product__block {
    display: block;
}

.cart-product__img-wrapper {
    position: relative;
    display: block;
}

.cart-product__img-wrapper.--desktop {
    padding: 2rem 1.25rem 0 1.25rem;
}

.cart-product__img-wrapper.--mobile {
    display: none;
}

.cart-product__img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10.25rem;
}

.cart-product__img-wrapper img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
}

.cart-product__title {
    display: inline-block;
    max-width: 36.875rem;
    opacity: 0.8;
}

.cart-product__title:hover,
.cart-product__title:focus,
.cart-product__title:active {
    opacity: 1;
}

.cart-product__description-wrapper {
    border-bottom: 0.0625rem dashed var(--color__border);
}

.cart-product__description {
    display: block;
    font-weight: 500;
    opacity: 0.5;
}

.cart-product__description + .cart-product__description {
    margin-left: 1rem;
}

.cart-product__value {
    font-weight: 700;
}

.cart-product__feature {
    align-items: flex-end;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

.cart-product__item.--price {
    margin-right: 6.125rem;
}

.cart-product__price {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.cart-product__discount {
    position: relative;
    padding: 0.125rem 0.375rem;
    font-size: 0.813rem;
    font-weight: 700;
    line-height: 1rem;
    border-radius: 0.25rem;
    color: var(--color__white);
    background-color: var(--color__fill-1);
}

.cart-product__discount::after {
    content: "";
    position: absolute;
    display: block;
    top: 37%;
    right: -7%;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background-color: var(--color__white);
}

.cart-product__price-old {
    font-weight: 500;
    text-decoration-line: line-through;
    opacity: 0.6;
}

.cart-product__button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.cart-product__icon {
    display: inline-block;
    padding: 0;
    border: 0;
    opacity: 0.4;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.cart-product__icon:hover,
.cart-product__icon:focus,
.cart-product__icon:active {
    opacity: 1;
}

.cart-product__icon.--compare {
    width: 2.062rem;
    height: 2rem;
    background-size: 100%;
}

.cart-product__icon.--favor {
    width: 2.375rem;
    height: 2.062rem;
    background-size: 100%;
}

.cart-product__icon.--trash {
    width: 3.062rem;
    height: 3rem;
    opacity: 1;
    background-size: 100%;
}

.cart-product__button-text {
    display: none;
}

.cart-product__counter {
    border-radius: 5rem;
    background-color: var(--color__fill-4);
}

.cart-product__counter .counter-calc__btn {
    width: 2.25rem;
    height: 2.25rem;
    border: 0;
    border-radius: 2.5rem;
    background-color: var(--color__white);
}

.cart-product__counter .counter-calc__btn:hover,
.cart-product__counter .counter-calc__btn:focus,
.cart-product__counter .counter-calc__btn:active {
    opacity: 0.5;
}

.cart-product__counter .btn.is-disable {
    opacity: 1;
}

.cart-product__counter .counter-calc__input {
    width: 2.5rem;
    height: 2.25rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

.counter-calc__icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-product__counter .btn.is-disable .counter-calc__icon {
    opacity: 0.2;
}

.counter-calc__icon.--minus {
    width: 1.062rem;
    height: 0.312rem;
    background-size: 100%;
}

.counter-calc__icon.--plus {
    width: 1.187rem;
    height: 1.125rem;
    background-size: 100%;
}

.cart-product__actions {
    margin-bottom: 1.125rem;
    margin-right: 1.5rem;
}

.cart-product__actions li:not(:last-child) {
    margin-right: 2rem;
}

@media screen and (max-width: 991px) {
    .cart-grid__item.--calc {
        max-width: none;
    }

    .cart h1 {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .cart__number {
        display: none;
    }

    .cart-actions__item.--link,
    .cart-actions__item.--print {
        display: none;
    }

    .cart-product {
        margin-top: 1rem;
        padding: 0.75rem 1rem 1rem 1rem;
        border-bottom: 0;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.06);
    }

    .cart-product .cart-product__title {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .card-product__block.--desktop {
        display: none;
    }

    .cart-product__img-wrapper.--desktop {
        display: none;
    }

    .cart-product__img-wrapper.--mobile {
        display: block;
        padding: 0.9375rem 0.75rem 0 0.4375rem;
    }

    .cart-product__img-wrapper.--mobile .cart-product__img-bg {
        height: 5.5625rem;
    }

    .card-product-mobile-grid {
        display: flex;
        justify-content: space-between;
    }

    .card-product-mobile-grid__item.--img {
        width: calc(40% - 1rem);
    }

    .card-product-mobile-grid__item.--title {
        width: 60%;
    }

    .cart-product__description.--mobile {
        display: none;
    }

    .cart-product__item.--price {
        display: none;
    }

    .cart-product__item.--count {
        margin-right: 2.5rem;
    }

    .cart-product__feature {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .cart-product__list {
        width: 100%;
    }

    .cart-product__list.--price {
        padding-bottom: 1rem;
    }

    .cart-product__actions {
        margin-right: 0;
        margin-bottom: 0;
        padding-top: 1.375rem;
        border-top: 0.0625rem dashed var(--color__border);
    }

    .cart-product__actions li:not(:last-child) {
        margin-right: 3.4375rem;
    }

    .cart-product__item--icon.--compare {
        display: none;
    }

    .cart-product__button {
        display: inline-flex;
        align-items: center;
        font-size: 0.875rem;
        line-height: 1;
        font-weight: 500;
    }

    .cart-product__button:hover .cart-product__button-text,
    .cart-product__button:focus .cart-product__button-text,
    .cart-product__button:active .cart-product__button-text {
        font-weight: 500;
    }

    .cart-product__button-text {
        display: inline-block;
        padding-left: 0.75rem;
    }

    .cart-actions__icon {
        order: 1;
        margin-right: 0;
        margin-left: 1rem;
    }

    .cart-product__icon.--favor {
        width: 1.5rem;
        height: 1.375rem;
    }

    .cart-product__icon.--trash {
        width: 1.875rem;
        height: 1.875rem;
    }
}
