.sorting-mobile {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 5.375rem;
}

.sorting-mobile__item + .sorting-mobile__item {
    margin-top: 1.5rem;
}

.sorting-mobile .checkbox {
    display: block;
}

.sorting-mobile .checkbox__trigger {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color__fill-1);
    opacity: 0.16;
    box-shadow: none;
}

.sorting-mobile .checkbox input:checked + * > .checkbox__trigger {
    background-color: var(--color__fill-1);
    opacity: 1;
}

.sorting-mobile .checkbox__label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    /* opacity: 0.6; */
}

.sorting-mobile__button-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
    position: fixed;
    bottom: 0.625rem;
    left: 0;
    z-index: 10;
    width: 100%;
    padding-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sorting-mobile__button-item {
    width: calc(50% - 0.5rem);
}

.sorting-mobile__button {
    width: 100%;
    height: 2.5rem;
    max-width: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
}

.sorting-mobile__button.--fill-1:hover,
.sorting-mobile__button.--fill-1:focus,
.sorting-mobile__button.--fill-1:active {
    background-color: var(--color__fill-1-a);
}

@media screen and (max-width: 991px) {
    .order-wrap {
        display: none;
    }
}
