.personal-nav__link {
    text-decoration: none;
    color: var(--color__dark);
    padding-left: 1.5rem;
    position: relative;
}

.personal-nav__link-label {
    font-weight: 500;
    height: 4rem;
    display: flex;
    align-items: center;
    position: relative;
}

.personal-nav__link-border {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid var(--color__border);
    bottom: 0;
}

.personal-nav__link:last-child .personal-nav__link-border {
    display: none;
}

.personal-nav__link:hover .personal-nav__link-icon {
    opacity: 1;
}

.personal-nav__link-label span {
    transition: all ease .24s;
}

.personal-nav__link:hover span {
    opacity: 1;
}

.personal-nav__link.is-active .personal-nav__link-icon {
    opacity: 1;
}

.personal-nav__link.is-active .personal-nav__link-label span {
    font-weight: 700;
    color: var(--color__dark);
}

.order-history__sort-item .catalog-filter__sort-value-wrap {
    opacity: .4;
    transition: ease all .24s;
    cursor: pointer;
}

.order-history__sort-item:hover .catalog-filter__sort-value-wrap {
    opacity: 1;
}

.order-history__sort-item .catalog-filter__sort-value-wrap .catalog-filter__sort-value {
    font-weight: 600;
}

h1.page-header__title b {
    font-weight: 700 !important;
}

.order-history__tab {
    opacity: .4;
    transition: all ease .24s;
    cursor: pointer;
    font-weight: 700;
}

.order-history__tab.is-active {
    opacity: 1;
    position: relative;
}

.order-history__tab:hover {
    opacity: 1;
}

.order-history__tab.is-active:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: .25rem solid var(--color__dark);
    bottom: -.75rem;
}

.order-history__sort-head {
    border-bottom: 1px solid var(--color__border);
}

.cart-item__image.--min {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.order-history-item__item:not(:last-child) {
    border-bottom: 1px solid var(--color__border);
}

.order-history-item__item:first-child .cart-item {
    padding-top: 0 !important;
}

.order-history-item__head {
    font-weight: 650;
    position: relative;
}

.order-history-item__toggle-btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--color__dark);
    right: 0;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease .24s;
}

.order-history-item__date {
    opacity: .4;
}

.order-history-item__status-circle {
    width: .5rem;
    height: .5rem;
    background-color: var(--color__gray-6);
    display: block;
    border-radius: .5rem;
    margin-right: .5rem;
}

.order-history-item__status {
    display: flex;
    align-items: center;
}

.order-history-item__detail-info {
    display: none;
    padding-bottom: 2rem;
}

.order-history-item {
    border-bottom: 1px solid var(--color__border);
}

.order-history-item:last-child {
    border-bottom: 0;
}

.order-history-item__toggle-btn-h-line {
    width: 1.25rem;
    height: 1px;
}

.order-history-item__toggle-btn > * {
    background-color: var(--color__dark);
    transition: all ease .24s;
}

.order-history-item__toggle-btn-v-line {
    width: 1px;
    height: 1.25rem;
    position: absolute;
}

.order-history-item__toggle-btn:hover {
    background-color: var(--color__dark);
}

.order-history-item__toggle-btn:hover * {
    background-color: #fff;
}

.order-history-item.is-open {
    border-bottom: .375rem solid var(--color__dark);
    margin-bottom: 2rem;
}

.order-history-item.is-open .order-history-item__toggle-btn {
    background-color: #F52536;
    border: 1px solid #F52536;
    transform: rotate(45deg);
}

.order-history-item.is-open .order-history-item__toggle-btn > * {
    background-color: white;
}

.personal-item {
    width: 20.25rem;
    height: 20.25rem;
    border-radius: 10rem;
    margin-left: -27px;
    position: relative;
}

.personal-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    border: 1px solid var(--color__border);
    z-index: 1;
}

.personal-item:first-child {
    margin-left: 0;
}

.personal-item.--favor {
    background-color: var(--color__dark);
    z-index: 2;
}

.personal-item.--favor::before {
    display: none;
}

.personal-item.--favor b {
    color: var(--color__white);
}

.personal-item.--favor .personal-item__btn {
    margin-top: 2.5625rem;
}

.personal-item.--favor .personal-item__content {
    margin-top: 0;
}

.personal-item__head {
    flex-direction: column;
}

.personal-item__content {
    width: 100%;
    margin-top: 1.5rem;
    z-index: 2;
}

.personal-item__btn {
    box-shadow: none !important;
    color: var(--color__fill-1);
    position: relative;
    z-index: 2;
    padding: 0;
    width: auto;
    height: auto;
    border: none;
    display: inline-block;
    margin: 24px auto 0;
}

.personal-item__name {
    margin-top: 1.75rem;
}

.personal-item__name b {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.personal-item__info-line {
    opacity: .6;
    color: #000;
}

.page-header__user-name {
    opacity: .4;
    font-weight: 600;
    color: #1D1D1B;
}

.page-header-personal__log-out {
    height: 3.5rem;
    padding: 0 2rem;
    border-radius: 3.5rem;
    background-color: var(--color__dark) !important;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600 !important;
}

.page-header-personal__log-out:hover {
    background-color: var(--color__fill-1) !important;
}

.personal-nav__link-icon {
    width: 2rem;
    height: 2rem;
    opacity: .4;
    transition: ease all .24s;
}

.personal-nav__link-icon svg {
    width: auto;
    max-width: 100%;
    height: 100%;
}

.personal-nav__link.is-active .personal-nav__link-icon path {
    fill: var(--color__fill-1);
    stroke: var(--color__fill-1);
}

.personal-nav__link-icon path {
    transition: ease all .24s;
}

.personal-field.big-input__input {
    height: 5rem;
    border-radius: 1.5rem !important;
    padding: 2rem 0 0 2rem !important;
}

.personal-field .big-input__title {
    left: 2rem;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 500;
    color: rgb(51 51 51 / 40%);
    opacity: 1;
    margin-top: -0.5625rem;
    margin-left: .5rem;
}

.auth__form-line .big-input__title {
    margin-left: 0.1875rem;
}

.selection-items.personal .selection-item {
    width: 20.25rem;
    height: 20.25rem;
    padding: 5.375rem 0 4.4375rem 0;
}

.selection-items.personal .selection-item:hover {
    padding-top: 4rem;
}

.personal-field__btn {
    height: 5rem !important;
    border-radius: 4rem;
    font-weight: 600 !important;
    background-color: var(--color__dark);
    color: var(--color__white);
    transition: all ease 0.24s;
}

.personal-field__btn:hover {
    background-color: #464646;
}

.personal-nav__link:before {
    content: "";
    border-left: .25rem solid transparent;
    border-radius: .25rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: ease all .24s;
}

.personal-nav__link.is-active:before {
    border-color: var(--color__fill-1);
}

.catalog-filter__sort-icon {
    width: 1.125rem;
    height: 1.125rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalog-filter__sort-icon.--asc {
    transform: rotate(0deg);
}

.catalog-filter__sort-icon.--desc {
    transform: rotate(180deg);
}

.order-history-item__detail-info.is-active {
    border-bottom: .25rem solid #000;
}

.order-history-item__toggle-btn.is-active {
    background-color: var(--color__fill-1);
    border-color: var(--color__fill-1);
}

.order-history-item__toggle-btn.is-active > * {
    transform: rotateZ(45deg);
    background-color: #fff;
}

.order-history-item__toggle-btn.is-active .order-history-item__toggle-btn > * {
    transform: rotateZ(45deg);
}

.catalog-filter__sort-value-wrap.is-active {
    opacity: 1;
}

.catalog-filter__sort-value-wrap.is-active .catalog-filter__sort-value {
    color: var(--color__fill-1);
}

.catalog-filter__sort-value-wrap.is-active .catalog-filter__sort-icon {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='12.7275' y1='13.5' x2='6.3639' y2='13.5' stroke='%23E51A1E' stroke-width='3'/%3E%3Cline x1='16.3623' y1='7.5' x2='3.63503' y2='7.5' stroke='%23E51A1E' stroke-width='3'/%3E%3Cline x1='20' y1='1.5' y2='1.5' stroke='%23E51A1E' stroke-width='3'/%3E%3C/svg%3E");
}

.cart-item__tumb {
    width: 10.8125rem;
    position: relative;
}

.cart-item__tumb-bg {
    width: 100%;
    height: 7.625rem;
    background-color: #f5f5f5;
    padding: 1rem 1.5rem;
    position: absolute;
}

.cart-item__tumb img {
    width: 8.875rem;
    height: 8.875rem;
    position: relative;
    z-index: 1;
    transform: translateY(1.5rem);
}

.cart-item__name {
    font-size: 1.125rem !important;
    font-weight: 600;
    opacity: .8;
    color: #1D1D1B;
}

.cart-item__name:hover {
    opacity: 1;
}

.cart-item__props {
    color: rgb(51 51 51 / 50%);
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed #D8D8D8;
}

.cart-item__info-label {
    font-weight: 600;
    opacity: .5;
}

.order-history-item__status span {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.order-history-item__date {
    font-size: 1.125rem;
    line-height: 1.75rem;
}


.personal-fields__wrap {
    grid-template-columns: repeat(6, 1fr);
}

.personal-field {
    grid-column: span 2;
}

.personal-field:nth-child(1), .personal-field:nth-child(2) {
    grid-column: span 3;
}

.--svg__small-arrow {
    width: 0.875rem;
    height: 0.875rem;
    display: inline-block;
    margin-left: .5rem;
}

.--svg__big-arrow {
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
}

.--svg__404 {
    width: 7rem;
    height: 6.625rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.content__search-title {
    font-size: 3.5rem;
    line-height: 4rem;
}

.content__search-desc {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.content__on-main-btn {
    height: 4.5rem;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    margin-top: 3rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 600;
    border-radius: 3.5rem;
    color: var(--color__white);
    background-color: var(--color__dark);
}

.content__on-main-btn:hover {
    opacity: 0.8;
}

.order-history-item__items:first-child {
    margin-top: 0;
}

.personal-main .personal-nav {
    display: none;
}

.profile__wrap {
    flex-direction: row;
    margin-top: 3rem;
}

.personal-fields.person, .personal-fields.company {
    display: none;
}

.personal-fields.is-active {
    display: block;
}

.personal-fields.company .personal-fields__wrap {
    grid-template-columns: repeat(12, 1fr);
}

.personal-fields.company .personal-field {
    grid-column: span 4;
}

.personal-fields.company .personal-field:nth-child(7), .personal-fields.company .personal-field:nth-child(8) {
    grid-column: span 6;
}

.personal-fields.company .personal-field:nth-child(9), .personal-fields.company .personal-field:nth-child(10) {
    grid-column: span 6;
}

.personal-field .big-input__input {
    height: 5rem;
}

.order-history-item__status-circle.is-active {
    background-color: var(--color__fill-1);
}

.cart-item__bottom {
    margin-left: auto;
    padding-right: 6.25rem;
}

.order-history__tabs {
    position: relative;
}

.orders__wrap {
    margin-top: 2.5rem;
}

.order-history-item__divider {
    display: none;
}

@media screen and (max-width: 991px) {
    .orders__wrap {
        margin-top: 1rem;
    }

    .personal-field {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem !important;
    }

    .personal-field .big-input__input {
        height: 3.5rem;
    }

    .personal-field .big-input__title {
        font-size: 1rem;
        margin-top: -0.5rem;
    }

    .personal-field .big-input:focus-within .big-input__title {
        top: 1.1rem;
    }

    .order-history__sort-head {
        display: none;
        grid-gap: .5rem;
    }

    .order-history-item__head {
        display: grid;
        /*grid-gap: .5rem;*/
    }

    .cart-item__info-value {
        font-size: 1rem !important;
    }

    .cart-item__info-label {
        margin-bottom: .25rem !important;
    }

    .personal-fave-items {
        grid-template-columns: 1fr;
    }

    .page-header-personal .catalog-filter__sort {
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .selection-items.personal {
        display: none;
    }


    .personal-main .personal-nav {
        display: block;
    }

    .page-header__title.h1 b {
        font-family: 'Montserrat-Alternates', sans-serif;
    }

    .personal-nav__link-icon {
        width: 2.9rem;
        height: 2.9rem;
    }

    .center-wrap.--personal {
        padding-left: 0;
        padding-right: 0;
    }

    .personal-nav__links b {
        opacity: 0.7;
    }

    .personal-main .personal-nav__link {
        height: 4.8rem;
    }

    .personal-main .personal-nav__link-label {
        font-size: 1.5rem;
        line-height: 2.3rem;
        font-weight: 400;
        opacity: 0.7;
    }

    .personal-main .personal-nav__link-label:hover {
        opacity: 1;
        font-weight: 700;
    }

    .personal-nav__link.is-active .personal-nav__link-label {
        opacity: 1;
    }

    .personal-nav__link-label {
        justify-content: space-between;
    }

    .page-header-personal__back {
        width: 2.25rem;
        height: 2.25rem;
        background-color: var(--color__dark);
        border-radius: 4rem;
        background-position: center;
        cursor: pointer;
    }

    .profile .checkbox__label {
        font-size: 1.16rem;
    }

    .profile .personal-nav {
        display: none;
    }

    .checkbox__trigger {
        width: 2rem;
        height: 2rem;
        background-position: center;
    }

    .profile__wrap {
        max-width: 54rem;
        margin-top: 1.5rem;
    }

    .profile .personal-fields.company .personal-fields__wrap {
        grid-template-columns: 1fr 1fr;
    }

    .personal-fields.company .personal-field {
        grid-column: span 2;
    }

    .profile .personal-fields.company .personal-field:nth-child(3), .profile .personal-fields.company .personal-field:nth-child(4) {
        grid-column: span 1;
    }

    .personal-fields.company .personal-field:nth-child(8), .personal-fields.company .personal-field:nth-child(9) {
        grid-column: span 1;
    }

    .personal-fields.company .personal-field:nth-child(7), .personal-fields.company .personal-field:nth-child(10) {
        grid-column: span 2;
    }

    .personal-fields.person .personal-fields__wrap {
        grid-template-columns: 1fr 1fr;
    }

    .orders .personal-nav {
        display: none;
    }

    .orders .order-history__tabs {
        margin-top: 0 !important;
    }

    .orders .order-history__tabs.tabs__btns {
        border-bottom: 1px solid var(--color__border);
    }

    .orders .order-history__tab {
        padding-bottom: 1.25rem;
        margin-right: 2.5rem !important;
        font-size: 1rem !important;
        line-height: 1.75rem;
        opacity: 0.6;
    }

    .orders .order-history__tab:last-child {
        margin-right: 0 !important;
    }

    .orders .order-history__tab.is-active {
        opacity: 1;
    }

    .orders .order-history__tab::after {
        bottom: 0;
    }

    .order-history-item__item .cart-item {
        padding-top: 1.5rem !important;
        padding-bottom: 1rem !important;
    }

    .order-history-item__status-circle {
        margin-right: 0.5625rem;
    }

    .order-history-item__status span {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 500;
    }

    .order-history-item__price {
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 600;
    }

    .order-history-item__divider {
        display: block;
        width: 100%;
        height: 0.0625rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 3;
        background-color: rgba(0, 0, 0, 0.12);
    }

    .order-history-item__toggle-btn {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        grid-column: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        border: 0;
        border-radius: 100%;
    }

    .order-history-item__toggle-btn:hover {
        background-color: transparent;
    }

    .order-history-item__toggle-btn.is-active {
        background-color: transparent;
        transform: rotate(-180deg);
    }

    .order-history-item__toggle-btn::before {
        content: '';
        height: 0.625rem;
        width: 1.3125rem;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='15' viewBox='0 0 25 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 2 12.5 12 2 2' stroke='%23B4B4B4' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .order-history-item__toggle-btn-v-line,
    .order-history-item__toggle-btn-h-line {
        display: none;
    }

    .order-history-item {
        box-shadow: 0 0 2rem rgb(41 26 85 / 16%);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 1rem;
    }

    .orders .order-history-item__name,
    .order-history .order-history-item__name {
        font-size: 1.125rem;
        line-height: 2rem;
        font-weight: 700;
    }

    .order-history-item__date {
        font-size: 0.875rem;
        line-height: 1.75rem;
        font-weight: 600;
    }

    .order-history-item__name {
        order: 1;
    }

    .order-history-item__date {
        order: 2;
        grid-row: 2;
    }

    .order-history-item__status {
        order: 3;
        grid-row: 4;
    }

    .order-history-item__price {
        order: 4;
        grid-column: 4;
        grid-row: 4;
    }

    .orders .personal-page__content {
        max-width: 79rem;
    }

    .cart-item__info-col.--mob {
        display: none;
    }

    .cart-item__info-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .cart-item__info-items > :nth-child(2) {
        order: -1;
    }

    .cart-item__bottom {
        width: 100%;
        padding-right: 0;
    }

    .orders .cart-item__props {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .orders .cart-item__name {
        font-size: 0.875rem !important;
        line-height: 1.25rem;
        font-weight: 500;
    }

    .order-history-item__head {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
        /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    }

    .history .personal-nav {
        display: none;
    }

    .page-header__title {
        margin-left: 1.25rem;
    }

    .order-history-item__detail-info.is-active {
        border-bottom: none;
    }

    .order-history-item__item {
        position: relative;
        border-bottom: 0;
    }

    .order-history-item__item::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -1.5rem;
        right: -1.5rem;
        height: 0.0625rem;
        background-color: var(--color__border);
    }

    .order-history-item__item:not(:last-child) {
        border-bottom: 0;
    }

    .--personal .page-header-personal__top-wrap {
        margin-left: 1.33rem;
    }

    .personal-field:nth-child(2), .personal-field:nth-child(3) {
        grid-column: span 1;
    }

    .content__search-title {
        margin-top: 0.5rem !important;
        font-weight: 700;
        font-size: 2rem;
        line-height: 4rem;
    }

    .content__search-desc {
        margin-top: 0 !important;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .content__on-main-btn {
        margin-top: 2rem;
        height: 3.5rem;
        font-size: 1.125rem;
        line-height: 1;
    }

    .--svg__404 {
        width: 4.75rem;
        height: 4.5rem;
    }
}


@media (max-width: 640px) {

    .page-header-personal__log-out-wrap {
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
    }

    .page-header-personal__sections {
        grid-template-columns: 1fr;
    }

    .personal-fields__wrap {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .personal-fields__wrap > * {
        margin: 0 !important;
    }

    .personal-field {
        grid-template-columns: 1fr;
    }

    .personal-field:nth-child(1) {
        grid-column: span 2;
    }

    .personal-field {
        grid-column: span 2;
    }

    .personal-field__btn {
        order: -1;
        margin-top: 0.666rem;
    }

    .auth__form-bottom {
        margin-top: .5rem;
    }

}
