.banner__wheel-weight--1 {
    font-size: 5rem;
    line-height: 9rem;
    font-weight: 800;
}

.banner__wheel-weight--2 {
    font-size: 15rem;
    line-height: 15rem;
    font-weight: 800;
    z-index: 2;
}

.banner__wheel-weight--3 {
    font-size: 6.8125rem;
    line-height: 9rem;
    font-weight: 800;
}

.banner__wheel-weight {
    color: var(--color__fill-1);
    position: relative;
    align-items: flex-end;
    margin: auto;
}

.banner__wheel-weight::before {
    content: "";
    position: absolute;
    left: 47.5%;
    top: 50%;
    transform:translate(-50%, -50%);
    background-color: var(--color__white);
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
}
