.banner-wheels__promo {
    padding-top: 2.8125rem;
    padding-bottom: 4.25rem;
    position: relative;
}

.banner-wheels__promo::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 32.6875rem;
    width: 13.4375rem;
    height: 5.875rem;
    background-image: url("/template/dist/img/promo-green-leaf.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13.4375rem 5.875rem;
}

.banner-wheels__promo h2 {
    font-weight: 700;
}

.banner-wheels__promo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.banner-wheels__list {
    margin-top: 2.1875rem;
}

.banner-wheels__item {
    display: flex;
    align-items: center;
}

.banner-wheels__icon {
    flex: 0 0 auto;
    display: inline-block;
    height: 4.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-wheels__icon.--wheel {
    width: 4.1875rem;
    background-size: 4.1875rem 4.5rem;
}

.banner-wheels__icon.--weight {
    width: 3.875rem;
    background-size: 3.875rem 4.5rem;
}

.banner-wheels__promo-button {
    margin-top: 5.25rem;
    border-radius: 3rem;
}

@media screen and (max-width: 991px) {

    .banner-wheels__list {
        display: none;
    }

    .banner-wheels {
        padding: 0 1.33rem !important;
    }

    .banner-wheels .center-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .banner-wheels__promo {
        padding: 1.5rem 0 1.5rem 1.5rem;
    }

    .banner-wheels__promo picture {
        position: absolute;
        top: 40%;
        right: 0.5rem;
    }

    .banner-wheels__promo img {
        width: 11.5rem;
    }

    .banner-wheels__promo h2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .banner-wheels__promo-button {
        position: relative;
        z-index: 1;
        height: 2.75rem;
        margin-top: 6.25rem;
        padding: 0 1.25rem;
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .banner-wheels__promo::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 36%;
        left: -68px;
        width: 13.4375rem;
        height: 5.875rem;
        background-image: url("/template/dist/img/promo-green-leaf1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 4rem;
    }

    .banner-wheels__promo::after {
        transform: rotate(-105deg);
        content: "";
        display: inline-block;
        position: absolute;
        top: 10%;
        right: -79px;
        background-image: url("/template/dist/img/promo-green-leaf.png");
        background-position: center;
        background-size: 6rem;
    }

    .banner-wheels__wrap {
        overflow: hidden;
    }
}
