.mobile-panel {
    display: none;
}

.mobile-panel__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.375rem;
    border-top: 0.0625rem solid var(--color__gray-5);
}

.mobile-panel__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--color__dark);
}

.mobile-panel__link.--cart {
    position: relative;
}

.mobile-panel__icon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-panel__icon.--house {
    width: 2rem;
    height: 1.75rem;
    background-size: 2rem 1.75rem;
}

.mobile-panel__icon.--search {
    width: 2.25rem;
    height: 1.6875rem;
    background-size: 2.25rem 1.6875rem;
}

.mobile-panel__icon.--favor {
    width: 2.375rem;
    height: 2.0625rem;
    background-size: 2.375rem 2.0625rem;
}

.mobile-panel__icon.--cart {
    width: 2.5rem;
    height: 2.3125rem;
    background-size: 2.5rem 2.3125rem;
}

.mobile-panel__cart-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.0625rem;
    height: 1.0625rem;
    border-radius: 50%;
    color: var(--color__white);
    background-color: var(--color__fill-1);
}

@media screen and (max-width: 991px) {
    .mobile-panel {
        display: block;
    }
}
